<a href="https://colab.research.google.com/github/mj2515/Python/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Operation on Pandas
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({'coll':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','jkl']})

In [3]:
df.head()

   coll  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  jkl

In [ ]:
df